<!-- Topbar -->
<main flex layout="column">
      <div>
        <div ui-view="" ></div>
      </div>
</main>

<nav class="shadow" id="section-top" style="padding-top:10px; padding-bottom:10px">
  <div class="container">
    <div class="row" style="vertical-align:middle">
      <div class="col-md-6 col-sm-12 text-left">
        <div class="text-left">
          <a class="" [routerLink]="['bnb']">
            <img class="logo-default" src="../../assets/images/mainnet.svg"  width="auto" height="36px" alt="logo">
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 text-right" style="text-align:right; vertical-align:middle">
        <div class="text-right" id="top-nav">
          <span class=""><a class="nav-btn" id="mainnet-link" [routerLink]="['mainnet']">FEES</a></span>
            <span class=""><a class="nav-btn" id="bnb-link" [routerLink]="['bnb']">BNB</a></span>


        </div>
      </div>
    </div>

  </div>
      <hr>
</nav>


<!-- END Topbar -->
