<!-- <header>
  <div class="row text-left" style="margin-left:10px">
    <div class="col" style="margin-top:10px">
      <img src="../../assets/images/mainnet.svg" width="200" height="auto">
    </div>
  </div>
</header> -->

<main class="main-content">
  <section>

  <div class="container mx-20">
    <h1 style="text-align:left">Binance Testnet Fees</h1>
    <br>

    <div class="shadow p-3 mb-5 bg-white rounded mx-20">
      <h2 style="text-align:left">Transaction Fees</h2>
      <hr>
      <div class="row text-left">
        <div class="col-md-3">
          <strong>Single Transaction</strong>
          <br>
          <p class="bnb-orng"><span style="font-size:2rem">{{fixed_fee_params.fixed_fee_params.fee / 100000000}}</span><span> BNB</span></p>
          <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(fixed_fee_params.fixed_fee_params.fee / 100000000) | number:'0.2-3'}}</span><span> USD</span></p>
        </div>
        <div class="col-md-3">
          <strong>Single Batched Transaction</strong>
          <br>
          <p class="bnb-orng"><span style="font-size:2rem">{{fixed_fee_params.multi_transfer_fee / 100000000}}</span><span> BNB</span></p>
          <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(fixed_fee_params.multi_transfer_fee / 100000000) | number:'0.2-3'}}</span><span> USD</span></p>
        </div>
        <div class="col-md-3">
          <strong>100 Batched Transactions</strong>
          <br>
          <p class="bnb-orng"><span style="font-size:2rem">{{fixed_fee_params.multi_transfer_fee / 1000000}}</span><span> BNB</span></p>
          <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(fixed_fee_params.multi_transfer_fee / 1000000) | number:'0.2'}}</span><span> USD</span></p>
        </div>
        <div class="col-md-3">
          <strong>1000 Batched Transactions</strong>
          <br>
          <p class="bnb-orng"><span style="font-size:2rem">{{fixed_fee_params.multi_transfer_fee / 100000}}</span><span> BNB</span></p>
          <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(fixed_fee_params.multi_transfer_fee / 100000) | number:'0.2'}}</span><span> USD</span></p>
        </div>
      </div>
    </div>
    <br>

    <div class="shadow p-3 mb-5 bg-white rounded mx-20">
      <h2 style="text-align:left">BinanceDex Fees</h2>
      <hr>
      <div class="row text-left">
        <div class="col-md-3">
          <strong>New Order</strong>
          <br>
          <p class="bnb-orng"><span style="font-size:2rem">{{orderNew.fee / 100000000}}</span><span> BNB</span></p>
          <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(orderNew.fee / 100000000) | number:'0.2-3'}}</span><span> USD</span></p>
        </div>
        <div class="col-md-3">
          <strong>Cancel Order</strong>
          <br>
          <p class="bnb-orng"><span style="font-size:2rem">{{orderCancel.fee / 100000000}}</span><span> BNB</span></p>
          <p class="bnb-grey"><span style="font-size:2rem">${{(orderCancel.fee / 100000000) | number:'0.2-3'}}</span><span> USD</span></p>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <br>
      <div class="row text-left">

          <div class="col-md-3">
            <strong>Fee Rate (Native)</strong>
            <br>
            <p class="bnb-orng"><span style="font-size:2rem">{{feeRateNative.fee_value / 100000000}}</span><span> BNB</span></p>
            <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(feeRateNative.fee_value / 100000000) | number:'0.2-3'}}</span><span> USD</span></p>
          </div>
          <div class="col-md-3">
            <strong>Cancel Fee (Native)</strong>
            <br>
            <p class="bnb-orng"><span style="font-size:2rem">{{cancelFeeNative.fee_value / 100000000}}</span><span> BNB</span></p>
            <p class="bnb-grey"><span style="font-size:2rem">${{(cancelFeeNative.fee_value / 100000000) | number:'0.2-3'}}</span><span> USD</span></p>
          </div>
          <div class="col-md-3">
            <strong>Expire Fee (Native)</strong>
            <br>
            <p class="bnb-orng"><span style="font-size:2rem">{{expireFeeNative.fee_value / 100000000}}</span><span> BNB</span></p>
            <p class="bnb-grey"><span style="font-size:2rem">${{(expireFeeNative.fee_value / 100000000) | number:'0.2'}}</span><span> USD</span></p>
          </div>
          <div class="col-md-3">
            <strong>IOC Cancel Fee (Native)</strong>
            <br>
            <p class="bnb-orng"><span style="font-size:2rem">{{iocExpireFeeNative.fee_value / 100000000}}</span><span> BNB</span></p>
            <p class="bnb-grey"><span style="font-size:2rem">${{(iocExpireFeeNative.fee_value / 100000000) | number:'0.2'}}</span><span> USD</span></p>
          </div>
        </div>
        <div class="row text-left">
        <div class="col-md-3">
          <strong>Fee Rate</strong>
          <br>
          <p class="bnb-orng"><span style="font-size:2rem">{{feeRate.fee_value / 100000000}}</span><span> BNB</span></p>
          <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(feeRate.fee_value / 100000000) | number:'0.2-3'}}</span><span> USD</span></p>
        </div>
        <div class="col-md-3">
          <strong>Cancel Fee</strong>
          <br>
          <p class="bnb-orng"><span style="font-size:2rem">{{cancelFee.fee_value / 100000000}}</span><span> BNB</span></p>
          <p class="bnb-grey"><span style="font-size:2rem">${{(cancelFee.fee_value / 100000000) | number:'0.2-3'}}</span><span> USD</span></p>
        </div>
        <div class="col-md-3">
          <strong>Expire Fee</strong>
          <br>
          <p class="bnb-orng"><span style="font-size:2rem">{{expireFee.fee_value / 100000000}}</span><span> BNB</span></p>
          <p class="bnb-grey"><span style="font-size:2rem">${{(expireFee.fee_value / 100000000) | number:'0.2'}}</span><span> USD</span></p>
        </div>
        <div class="col-md-3">
          <strong>IOC Cancel Fee</strong>
          <br>
          <p class="bnb-orng"><span style="font-size:2rem">{{iocExpireFee.fee_value / 100000000}}</span><span> BNB</span></p>
          <p class="bnb-grey"><span style="font-size:2rem">${{(iocExpireFee.fee_value / 100000000) | number:'0.2'}}</span><span> USD</span></p>
        </div>
      </div>
      </div>
      <br>

      <div class="shadow p-3 mb-5 bg-white rounded mx-20">
        <h2 style="text-align:left">Asset Fees</h2>
        <hr>
        <div class="row text-left">
          <div class="col-md-3">
            <strong>Issue Asset</strong>
            <br>
            <p class="bnb-orng"><span style="font-size:2rem">{{issueMsg.fee / 100000000}}</span><span> BNB</span></p>
            <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(issueMsg.fee / 100000000) | number:'0.2'}}</span><span> USD</span></p>
          </div>
          <div class="col-md-3">
            <strong>Mint Asset</strong>
            <br>
            <p class="bnb-orng"><span style="font-size:2rem">{{mintMsg.fee / 100000000}}</span><span> BNB</span></p>
            <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(mintMsg.fee / 100000000) | number:'0.2'}}</span><span> USD</span></p>
          </div>
          <div class="col-md-3">
            <strong>Burn Asset</strong>
            <br>
            <p class="bnb-orng"><span style="font-size:2rem">{{tokensBurn.fee / 100000000}}</span><span> BNB</span></p>
            <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(tokensBurn.fee / 100000000) | number:'0.2'}}</span><span> USD</span></p>
          </div>
          <div class="col-md-3">
            <strong>Freeze Asset</strong>
            <br>
            <p class="bnb-orng"><span style="font-size:2rem">{{tokensFreeze.fee / 100000000}}</span><span> BNB</span></p>
            <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(tokensFreeze.fee / 100000000) | number:'0.2'}}</span><span> USD</span></p>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-md-4">
            <strong>List on BinanceDEX</strong>
            <br>
            <p class="bnb-orng"><span style="font-size:2rem">{{dexList.fee / 100000000}}</span><span> BNB</span></p>
            <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(dexList.fee / 100000000) | number:'0.2'}}</span><span> USD</span></p>
          </div>
          </div>
      </div>
      <br>

      <div class="shadow p-3 mb-5 bg-white rounded mx-20">
        <h2 style="text-align:left">Governance Fees</h2>
        <hr>
        <div class="row text-left">
          <div class="col-md-3">
            <strong>Submit Proposal</strong>
            <br>
            <p class="bnb-orng"><span style="font-size:2rem">{{submit_proposal.fee / 100000000}}</span><span> BNB</span></p>
            <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(submit_proposal.fee / 100000000) | number:'0.2'}}</span><span> USD</span></p>
          </div>
          <div class="col-md-3">
            <strong>Vote</strong>
            <br>
            <p class="bnb-orng"><span style="font-size:2rem">{{vote.fee / 100000000}}</span><span> BNB</span></p>
            <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(vote.fee / 100000000) | number:'0.2'}}</span><span> USD</span></p>
          </div>
          <div class="col-md-3">
            <strong>Create Validator</strong>
            <br>
            <p class="bnb-orng"><span style="font-size:2rem">{{create_validator.fee / 1000000}}</span><span> BNB</span></p>
            <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(create_validator.fee / 1000000) | number:'0.2'}}</span><span> USD</span></p>
          </div>
          <div class="col-md-3">
            <strong>Remove Validator</strong>
            <br>
            <p class="bnb-orng"><span style="font-size:2rem">{{remove_validator.fee / 100000}}</span><span> BNB</span></p>
            <p class="bnb-grey"><span style="font-size:2rem">${{(bnbPrice)*(remove_validator.fee / 100000) | number:'0.2'}}</span><span> USD</span></p>
          </div>
        </div>
      </div>
      <br>

    </div>
    <br>

  </section>
</main>
